<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.2.1" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" />
  <package id="Microsoft.IdentityModel.Abstractions" version="7.0.3" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="7.0.3" />
  <package id="Microsoft.IdentityModel.Logging" version="7.0.3" />
  <package id="Microsoft.IdentityModel.Tokens" version="7.0.3" />
  <package id="QRCoder" version="1.4.3" manuallyInstalled="true" />
  <package id="System.Drawing.Common" version="5.0.3" />
  <package id="System.IdentityModel.Tokens.Jwt" version="7.0.3" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" />
  <package id="System.Security.Cryptography.Cng" version="4.5.0" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" />
  <package id="System.Text.Encodings.Web" version="4.7.2" />
  <package id="System.Text.Json" version="4.7.2" />
</packages>